<div>
  <input
    #term
    type="search"
    placeholder="Digita il nome di un pokémon"
    (keydown.enter)="searchPokemon(term.value)"
  />
  <button
    type="button"
    class="search-button"
    (click)="searchPokemon(term.value)"
  >
    Cerca pokemon
  </button>

  <div class="ability">
    <label>Ability name</label>
    <li *ngFor="let ability of pokemon?.abilities">
      {{ ability.ability.name }}
    </li>
  </div>

  <br /><br /><br />

  <div class="moves">
    <label> Moves </label>
    <li *ngFor="let moves of pokemon?.moves">
      {{ moves.move.name }}
    </li>
  </div>
</div>
