.moves {
  background-color:#4b477190 ;
}

.ability{
  background-color: #4b477190;
}

.search-button{
  background-color: rgba(38, 143, 133, 0.361);
  &:hover {
    color: rgba(0, 0, 0, 0.198);
    background-color: steelblue;
  }
}
