<div>
  <input
    #term
    type="search"
    placeholder="Digita il nome di un pokémon"
    (keydown.enter)="searchPokemon(term.value)"
  />
  <button
    type="button"
    class="search-button"
    (click)="searchPokemon(term.value)"
  >
    Cerca pokemon
  </button>

  <div>
    <label>Ability name</label>
    <li *ngFor="let ability of pokemon?.abilities">
      <div>
        {{ ability.ability.name }}
      </div>
    </li>
  </div>
  <br /><br /><br />
  <div>
    <label> Moves </label>
    <li *ngFor="let moves of pokemon?.moves">
      <div>
        {{ moves.move.name }}
      </div>
    </li>
  </div>
</div>
